table {
    table-layout: fixed;
    width: 600px;
    /* height: 600px;    */
    border: none;
    border-collapse: separate;
    border-spacing: 12px;
    transform: rotate(0deg);
    background-size:100%;
    background-position: center;
    border-radius: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
}

td {
    table-layout: fixed;
    text-align: center;
    border-radius: 8%;
    background-repeat:no-repeat;
    border-color: blue;
}

.playing {
    transform: scale(1.07);
    transition: all .25s ease;
}

/* CSS CLASE GENERAL */
table.clase_general {
    background-image: url(../src/images/fondos_tablas/fondo_madera.jpg);
    box-shadow: 0 0 2rem #ad840b;
}

td.clase_general_celdas {
    border: 5px solid #ad840b;
    background-color: rgba(214,190,160,0.85);
}

td.clase_general_celdas.celda_activa {
    border-color: #d4ac39;
    box-shadow: 0 0 1rem #d4ac39;
    background-color: #f5ebda;
}

td.clase_general_celdas.emparejada {
    transform: scale(1);
    transition: all .07s ease-out;
    box-shadow: 0 0 1rem yellow;
    background-color: #f9fdf4;
}
/* CSS CLASE COLORES */

table.colores {
    background-image: url(../src/images/fondos_tablas/fondo_colores.jpg);
    box-shadow: 0 0 2rem #9240c5;
    background-repeat: repeat;
}

td.colores_celdas {
    border: 5px solid #5c069c;
    background-color: rgba(233,229,245,0.45);
}

td.colores_celdas.celda_activa {
    border-color: #9240c5;
    box-shadow: 0 0 1rem #9240c5;
    background-color: #f5ebda;
}

td.colores_celdas.emparejada {
    transform: scale(1);
    transition: all .07s ease-out;
    box-shadow: 0 0 1rem #5c069c;
    border-color: #9240c8;
    background-color: #f9fdf4;
}

/* CSS ALFABETO */
table.alfabeto {
    background-image: url(../src/images/fondos_tablas/fondo_matrix.jpg);
    box-shadow: 0 0 2rem #0c37d6;
}

td.alfabeto_celdas {
    border: 5px solid #6e9e76;
    background-color: rgba(41,89,148,0.85);
}

td.alfabeto_celdas.celda_activa {
    border-color: #3970d4;
    box-shadow: 0 0 1rem #0c37d6;
    background-color: #e5f5fb;
}

td.alfabeto_celdas.emparejada {
    transform: scale(1);
    transition: all .07s ease-out;
    box-shadow: 0 0 1rem #0c37d6;
    background-color: #e5f5fb;
    border-color: #649bef;
}


/* CSS FOTOS SILVIA */
table.fotos_silvia {
    background-image: url(../src/images/fondos_tablas/fondo_flores.jpg);
    box-shadow: 0 0 2rem #ad840b;
}

td.fotos_silvia_celdas {
    border: 5px solid #ad840b;
    background-color: rgba(214,190,160,0.85);
}

td.fotos_silvia_celdas.celda_activa {
    border-color: #d4ac39;
    box-shadow: 0 0 1rem #d4ac39;
    background-color: #f5ebda;
}

td.fotos_silvia_celdas.emparejada {
    transform: scale(1);
    transition: all .07s ease-out;
    box-shadow: 0 0 1rem yellow;
    border-color: #e0bd56;
}


/* CSS LA LIGA*/
table.la_liga {
    background-image: url(../src/images/fondos_tablas/fondo_cesped.jpg); 
    box-shadow: 0 0 2rem #2cda54;
}

td.la_liga_celdas {
    border: 5px solid #047184;;
    background-color: rgba(174,204,181,0.85);
}

td.la_liga_celdas.celda_activa {
    border-color: #19d444;
    box-shadow: 0 0 1rem #ebf5ed;
    background-color: #f9fdf4;
}

td.la_liga_celdas.emparejada {
    transform: scale(1);
    transition: all .07s ease-out;
    border-color: #19d444;
    box-shadow: 0 0 1rem #ebf5ed;
    background-color: #f9fdf4;
}